<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdxf.system.mapper.UserMapper">
    <insert id="insertUser" parameterType="com.zdxf.system.entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into user (username, password,updatetime,status) VALUES (#{username},
        #{password},#{updatetime},#{status});
    </insert>
    <select id="findByUsername" parameterType="java.lang.String" resultType="com.zdxf.system.entity.User">
        SELECT * from user where username = #{username};
    </select>
    <select id="findUserByPassword" resultType="com.zdxf.system.entity.User">
        SELECT * from user where password = "1234567";
    </select>


</mapper>